* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-family: "Times New Roman", "Goudy Old Style", Times, serif;
}

.login {
  text-align: right;
  font-size: 1.3rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.navbar a {
  text-decoration: none;
}
.navbar .navbar-button {
  text-align: center;
  font-size: x-large;
  border-radius: 10px;
  margin-bottom: 0.1rem;
  background-color: black;
  color: white;
  width: 18%;
}

.modal {
  position: relative;
  background-color: whitesmoke;
  border: 5px solid black;
  width: 75%;
  margin: 10px auto;
  font-size: 1.5rem;
}
.modal p {
  text-align: center;
}
.modal form {
  margin: 0 auto;
  width: 75%;
}
.modal textarea {
  font-size: 1.5rem;
  line-height: 1.5em;
  resize: none;
  width: 100%;
  height: 10rem;
  background-color: #def;
}
.modal input[type=text] {
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
  background-color: #def;
}
.modal input[type=password] {
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
  background-color: #def;
}
.modal input[type=submit] {
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
}
.modal input[type=button] {
  font-size: 1.5rem;
  min-width: 1.75rem;
  border: 1px solid black;
  border-radius: 5px;
}
.modal input[type=file] {
  display: none;
}
.modal button {
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
}
.modal .done-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 30%;
  text-align: center;
  font-size: 3rem;
  border: 2px solid yellow;
  border-radius: 10px;
  background-color: lightyellow;
}
.modal .validation-error {
  color: red;
  text-align: center;
}
.modal .x-button {
  border: 1px solid red;
  border-radius: 5px;
  background-color: pink;
  font-size: 1rem;
  color: white;
  width: 1.25rem;
  text-align: center;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.modal .half-icon {
  position: relative;
  background-color: whitesmoke;
}
.modal .half-icon-mask {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  opacity: 1;
}
.modal .image-loader {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.modal .image-loader .photo-button {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eee;
  color: black;
}
.modal .image-loader label {
  position: absolute;
  left: 0;
  top: 0;
}
.modal .image-loader input[type=button] {
  position: absolute;
  right: 0;
  top: 0;
}
.modal .image-loader canvas {
  padding-bottom: 0.5rem;
  margin: auto;
  display: block;
}

.reviews-display {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.review-container {
  background-color: #fdf5e6;
  box-shadow: inset 0em 0em 1.5em 0.75em #bbbbaa;
  opacity: 1;
  width: 100%;
  border: 3px solid black;
  position: relative;
  margin: 5px 0 5px 0;
}
.review-container main {
  display: flex;
  justify-content: space-around;
}
.review-container main .img-container {
  width: 400px;
}
.review-container main .img-container img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.review-container main .review-content {
  width: 600px;
}
.review-container main .rating-display {
  width: 80%;
  text-shadow: 1px 1px black;
}
.review-container .edit-ui {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
.review-container .edit-ui .edit-ui-button {
  border: 1px solid black;
  border-radius: 3px;
  width: 2.6rem;
  height: 1.75rem;
  margin: 1px;
  float: right;
  text-align: center;
}

.rating {
  background-color: #fdf5e6;
  width: 50%;
}
.rating .half-icon {
  position: relative;
  background-color: #fdf5e6;
}
.rating .half-icon-mask {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fdf5e6;
  opacity: 1;
}

inc-dec-button {
  font-size: 2rem;
}

select {
  font-size: 2rem;
}

.loading-bar {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (orientation: portrait) {
  html {
    font-size: 28px;
  }
  .title {
    text-align: center;
    font-size: 1rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar .navbar-button {
    width: 90%;
    border-radius: 10px;
    box-shadow: inset 0em -4px 6px 1px white;
    font-size: 1rem;
    padding-bottom: 10px;
  }
  .modal {
    font-size: 1rem;
    width: 100%;
  }
  .modal p {
    padding: 0.8rem;
  }
  .modal input[type=submit] {
    font-size: 1rem;
  }
  .modal .done-button {
    width: 80%;
  }
  .image-loader .photo-button {
    margin: 0 -auto;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eee;
    color: black;
    width: 45%;
  }
  .review-container {
    width: 100%;
  }
  .review-container main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .review-container .img-container {
    width: 100%;
  }
  .review-container .review-content {
    width: 100%;
    margin-left: 0.2rem;
  }
  .review-container .review-content .rating {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  .review-container .review-content h1, .review-container .review-content h2, .review-container .review-content p {
    margin: 0 auto;
    width: 100%;
  }
}
