* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-image: url('../../public/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.App {
  width: 90%;
  margin: 0 auto;
}

.title {
   text-align: center;
   font-size: 1.8rem;
   margin-bottom: .5rem;
   font-family: 'Times New Roman', "Goudy Old Style", Times, serif ;
   color: white;
}
.title span {
  text-shadow: 4px 4px black;
}


.login {
  text-align: right;
  font-size: 1.3rem;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;

  a {
    text-decoration: none;
  }

  .navbar-button {
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: inset 0em -2px 7px 0px white;
    margin-bottom: .1rem;
    background-color: black;
    color: white;
    width: 18%;
    height: 2.5rem;
    cursor: pointer;
  }
}
  
.modal {
  position: relative;
  background-color: whitesmoke;
  border: 5px solid black;
  width: 75%;
  margin: 10px auto;
  font-size: 1.5rem;

  p {
    text-align: center;
  }
  form {
    margin: 0 auto;
    width: 75%;
  }

  textarea {
    font-size: 1.5rem;
    line-height: 1.5em;
    resize: none;
    width: 100%;
    height: 10rem;
    background-color: #def;
  }

  input[type=text] {
    font-size: 1.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #def;
  }

  input[type=password] {
    font-size: 1.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #def;
  }

  input[type=submit] {
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
  }

  input[type=button] {
    font-size: 1.5rem;
    min-width: 1.75rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type=file] {
    display: none;
  }

  button {
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }

  .done-button {
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
    width: 30%;
    text-align: center;
    font-size: 3rem;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: lightyellow;
    cursor: pointer;
  }

  .validation-error {
    color: red;
    text-align: center;
  }

  .x-button {
    border: 1px solid red;
    border-radius: 5px;
    background-color: pink;
    font-size: 1rem;
    color: white;
    width: 1.25rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    right: 0rem;
    cursor: pointer;
  }

  .half-icon {
    position: relative;
    background-color: whitesmoke;
  }
  .half-icon-mask {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 1;
  }

  .image-loader {
    position: relative;
    margin: 0 auto;
    width: 90%;
    .photo-buttons{
      width: 90%;
    }
    .photo-button {
      display:inline-block;
      width: 40%;
      margin: 0 4%;
      text-align: center;
      font-size: 1.5rem;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #eee;
      color: black;
      cursor: pointer;
    }

    .photo-button:hover {
      background-color: #333;
    }
    label{
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
    }
    input[type=button] {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
    canvas {
      padding-bottom: .5rem;
      margin: auto;
      display: block;
    }
  }
  
}

.reviews-display {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.review-container {
  background-color: #fdf5e6;
  box-shadow: inset 0em 0em 1.5em .75em #bbbbaa;
  opacity: 1;
  width: 100%;
  border: 3px solid black;
  position: relative;
  margin: 5px 0 5px 0;

  main {
    display: flex;
    justify-content: space-around;

    .img-container {
      width: 400px;

      img {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
      }
    }

    .review-content {
      width: 600px;
    }

    .rating-display {
      width: 80%;
      text-shadow: 1px 1px black;
    }
    
  }
  .edit-ui {
    position: absolute;
    right: .5rem;
    bottom: .5rem;

    .edit-ui-button {
      border: 1px solid black;
      border-radius: 3px;
      width: 2.6rem;
      height: 1.75rem;
      margin: 1px;
      float: right;
      text-align: center;
    }
  }
}
  
  .rating {
    background-color: #fdf5e6;
    width: 50%;

    .half-icon {
      position: relative;
      background-color: #fdf5e6;
    }
    .half-icon-mask {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #fdf5e6;
      opacity: 1;
    }
  }

  inc-dec-button {
    font-size: 2rem;
    cursor: pointer;
  }

  select {
    font-size: 2rem;
    cursor: pointer;
  }

  .loading-bar {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    color: white;
  }

  @media (orientation: portrait) {
    .App {
      width: 95%
    }
    html {
      font-size: 28px;
    }
    .title {
      text-align: center;
      font-size: .61rem;
    }
    .navbar {
      flex-direction: column;
      align-items: center; 

      .navbar-button {
        width: 90%;
        border-radius: 10px;
        box-shadow: inset 0em -2px 6px 0px white;
        font-size: 1rem;
        height: 1rem;
        padding-bottom: 10px;
      }
    }
    .modal {
      font-size: 1rem;
      width: 100%;
      p {
        padding: .8rem;
      }
      input[type=submit] {
        font-size: 1rem;
      }
      .done-button {
        width: 80%;
      }

      .image-loader {
        position: relative;
        margin: 0 auto;
        width: 90%;
        .photo-buttons{
          width: 70%;
        }
        .photo-button {
          display:inline-block;
          width: 40%;
          margin: 0 9%;
          text-align: center;
          font-size: 1rem;
          border: 1px solid black;
          border-radius: 5px;
          background-color: #eee;
          color: black;
        }
        label {
          position: absolute;
          left: 0;
          top: 0;
        }
        input[type=button] {
          position: absolute;
          right: 0;
          top: 0;
        }
        canvas {
          padding-bottom: .5rem;
          margin: auto;
          display: block;
        }
      } 
    }

    .review-container {
      
      width: 100%;
      main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      .img-container {
        width: 100%;
      }
      .review-content {
        width: 100%;
        margin-left: .2rem;
        .rating {
          margin: 0 auto;
          width: 70%;
          text-align: center;
        }
        h1, h2, p {
          margin: 0 auto;
          width: 100%;
        }
      }
    }
  }